/google-cloud-sdk/
__pycache__/

.DS_Store

*.swp

#Xcode
Paint_Recommend/build/
Paint_Recommend/*.pbxuser
Paint_Recommend/!default.pbxuser
Paint_Recommend/*.mode1v3
Paint_Recommend/!default.mode1v3
Paint_Recommend/*.mode2v3
Paint_Recommend/!default.mode2v3
Paint_Recommend/*.perspectivev3
Paint_Recommend/!default.perspectivev3
Paint_Recommend/xcuserdata
Paint_Recommend/*.xccheckout
Paint_Recommend/*.moved-aside
Paint_Recommend/DerivedData
Paint_Recommend/*.hmap
Paint_Recommend/*.ipa
Paint_Recommend/*.xcuserstate
Paint_Recommend/*.swp

Paint_Recommend/UserInterfaceState.xcuserstate
Paint_Recommend/Paint_Recommend.xcworkspace/xcuserdata/miyucg.xcuserdatad/UserInterfaceState.xcuserstate
Paint_Recommend/!.gitkeep
Paint_Recommend/.DS_Store

#CocoaPod
Paint_Recommend/Pods/
Paint_Recommend/Podfile.lock