#Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/xcuserdata/miyucg.xcuserdatad/UserInterfaceState.xcuserstate
!*.xcworkspace/contents.xcworkspacedata
.DS_Store

#CocoaPod
Paint_Recommend/Pods/
Paint_Recommend/Podfile.lock