#Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
Paint_Recommend.xcodeproj/project.xcworkspace/xcuserdata/miyucg.xcuserdatad/UserInterfaceState.xcuserstate

#CocoaPod
Paint_Recommend/Pods/
Paint_Recommend/Podfile.lock